<div class="container">
  <div class="row mb-5">
    <div class="col-md-12">

      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-center">Id</th>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">Email</th>
            <th scope="col" class="text-center">Telefone</th>
            <th scope="col" class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody *ngFor="let usuario of listaUsuarios">
          <tr>
            <th scope="row" class="text-center"> {{ usuario.user_id }} </th>
            <td class="text-center"> {{ usuario.nome }} </td>
            <td class="text-center"> {{ usuario.email }} </td>
            <td class="text-center"> {{ usuario.telefone }} </td>
            <td class="text-center">
              <button class="btn btn-outline-primary mx-4" [routerLink]="['/editar', usuario.user_id]">Alterar</button>
              <button class="btn btn-outline-secondary" [routerLink]="['/deletar', usuario.user_id]">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>