<div class="d-flex justify-content-around align-items-center cor">
    <div>
        <img class="logo" src="../../assets/img/momentumLogo.png" alt="logo">
    </div>
    <div class="d-flex justify-content-between">
        <Ul>
            <li class="titulo">MOMENTUM</li>
            <li><a routerLink="/home">Início</a></li>
            <li><a routerLink="/formulario">Cadastro</a></li>
        </Ul>
        <Ul>
            <li class="titulo">QUEM SOMOS</li>
            <li><a routerLink="/sbrenos">Sobre Nós</a></li>
            <li><a href="#" >Nosso Time</a></li>
        </Ul>
        <Ul>
            <li class="titulo">SUPORTE</li>
            <li><a routerLink="/faq">F.A.Q</a></li>
            <li><a href="#">Política de Privacidade</a></li>
        </Ul>
    </div>
    <div class="social">
        <a href="#" class="icoInstagram" title="Instagram">
            <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
        </a>
        <a href="#" class="icoFacebook" title="Facebook">
            <fa-icon [icon]="faFacebook" class="faFacebook fa-2x p-3"></fa-icon>
        </a>
        <a href="#" class="icoLinkedin" title="Linkedin">
            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-3"></fa-icon>
        </a>
        <a href="#" class="icoTwitter" title="Twitter">
            <fa-icon [icon]="faTwitter" class="faTwitter fa-2x p-3"></fa-icon>
        </a>
    </div>
</div>