.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20 px;
    flex-wrap: wrap;
    background-image: url(../../assets/img/OP4.png); 
    
  }
  
  .perfil{
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .post{
    margin: 15px;
  
  }
  .imgperfil{
    border-radius: 300px;
    width: 150px;
    height: auto;
    border: 5px solid white;
  }
  
  .nome{
    padding:10px;
  }
  
  textarea{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    resize: none;
    padding: 10px;
  
  }
  
  .caixa-publicacao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    padding: 15px;
    align-items: center;
  }
  
  .publicacao{
    width: 575px;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin: 10px 0 0 10px;
  
  }
  
  .data{
    font-size:12px;
    padding-top: 11px;
    margin-left: 4px;
  }

  .nomePostagem{
    font-size: 1.2rem;
  }

.headerPost{
  display: flex;
  align-items: center;
  
}

a{
  color: black;
  text-decoration: none;
}