<div class="container">

    <h2 class="text-center mt-5 mb-5">ACOLHIMENTO</h2>
    <!-- Card deck -->
    <div class="card-deccdk row ">

        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Card -->
            <div class="card">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://i.imgur.com/ai37wz1.png" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body mt-2">

                    <!--Title-->
                    <h4 class="card-title">CAPS</h4>
                    <!--Text-->
                    <p class="card-text">Centro de Atenção Psicossocial. Unidades especializadas em saúde mental para
                        tratamento e
                        reinserção social de pessoas com transtorno mental grave e persistente. </p>

                    <button id="btn1" type="button" class="btn ">Saiba mais</button>

                </div>

            </div>
            <!-- Card -->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://i.imgur.com/pB6GuHi.jpg" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body mt-2">

                    <!--Title-->
                    <h4 class="card-title">CVV</h4>
                    <!--Text-->
                    <p class="card-text">Centro de Valorização da Vida realiza apoio emocional e prevenção do suicídio,
                        atendendo
                        voluntária e gratuitamente todas as pessoas que querem e precisam conversar. </p>
                    <button id="btn1" type="button" class="btn ">Saiba mais</button>

                </div>

            </div>
            <!-- Card -->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://i.imgur.com/XyNO3xt.png" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Casa 1</h4>
                    <!--Text-->
                    <p class="card-text text-left">A Casa 1 é um punhado de coisas: além de uma república de
                        acolhimento, um centro cultural
                        e agora uma clínica social, é também um exercício constante de pensar e promover mudanças
                        estruturais.</p>

                    <button id="btn1" type="button" class="btn ">Saiba mais</button>

                </div>

            </div>
            <!-- Card -->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Card -->
            <div class="card">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://i.imgur.com/bFUMfW0.png" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Pode Contar</h4>
                    <!--Text-->
                    <p class="card-text">Entenda mais sobre a depressão: seus sintomas, suas causas, como lidar e, o
                        mais
                        importante, como fazer para pedir ajuda.                              
                                                     </p>

                    <button id="btn1" type="button" class="btn ">Saiba mais</button>

                </div>

            </div>
            <!-- Card -->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://i.imgur.com/6C4i0OD.png" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Vittude</h4>
                    <!--Text-->
                    <p class="card-text">É uma plataforma que conecta psicólogos a pessoas em busca de sessões de
                        psicoterapia.
                                                                                                                 </p>

                    <button id="btn1" type="button" class="btn ">Saiba mais</button>
                </div>

            </div>
            <!-- Card -->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://i.imgur.com/oA3quW4.png" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Mackenzie</h4>
                    <!--Text-->
                    <p class="card-text text-left">O Serviço-Escola de Psicologia Mackenzie oferece diversas modalidades
                        de
                        atendimento psicológico visando, prevenção e cuidado psicológico junto à comunidade.</p>

                    <button id="btn1" type="button" class="btn ">Saiba mais</button>

                </div>

            </div>
            <!-- Card -->
        </div>

    </div>
    <!-- Card deck -->

</div>