<div class="container">

    <h2 class="text-center mt-5 mb-5">ACOLHIMENTO</h2>
    <!-- Card deck -->
    <div class="card-deccdk row ">

        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Card -->
            <div class="card">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://i.imgur.com/ai37wz1.png" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">CAPS</h4>
                    <!--Text-->
                    <p class="card-text" style="min-height: 120px;">Centro de Atenção Psicossocial. Unidades
                        especializadas em saúde mental para
                        tratamento e reinserção social de pessoas com transtorno mental grave e persistente. </p>

                    <a href="https://www.saude.gov.br/noticias/693-acoes-e-programas/41146-centro-de-atencao-psicossocial-caps"
                        target="_blank"><button id="btn1" type="button" class="btn">Saiba mais</button></a>

                </div>

            </div>
            <!-- Card -->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://i.imgur.com/pB6GuHi.jpg" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">CVV</h4>
                    <!--Text-->
                    <p class="card-text" style="min-height: 130px;">Centro de Valorização da Vida realiza apoio
                        emocional e prevenção do suicídio,
                        atendendo
                        voluntária e gratuitamente todas as pessoas que querem e precisam conversar. </p>
                    <a href="https://www.cvv.org.br/" target="_blank"><button id="btn1" type="button" class="btn ">Saiba
                            mais</button></a>

                </div>

            </div>
            <!-- Card -->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://i.imgur.com/XyNO3xt.png" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Casa 1</h4>
                    <!--Text-->
                    <p class="card-text text-left">A Casa 1 é um punhado de coisas: além de uma república de
                        acolhimento, um centro cultural
                        e agora uma clínica social, é também um exercício constante de pensar e promover mudanças
                        estruturais.</p>

                    <a href="http://www.casaum.org/" target="_blank"><button id="btn1" type="button" class="btn ">Saiba
                            mais</button></a>

                </div>

            </div>
            <!-- Card -->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Card -->
            <div class="card">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://i.imgur.com/bFUMfW0.png" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Pode Contar</h4>
                    <!--Text-->
                    <p class="card-text" style="min-height: 120px;">Entenda mais sobre a depressão: seus sintomas, suas
                        causas, como lidar e, o
                        mais
                        importante, como fazer para pedir ajuda.                              
                                                     </p>

                    <a href="https://www.medley.com.br/podecontar" target="_blank"><button id="btn1" type="button"
                            class="btn ">Saiba mais</button></a>

                </div>

            </div>
            <!-- Card -->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://i.imgur.com/6C4i0OD.png" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Vittude</h4>
                    <!--Text-->
                    <p class="card-text" style="min-height: 120px;">É uma plataforma que conecta psicólogos a pessoas em
                        busca de sessões de
                        psicoterapia.
                                                                                                                 </p>

                    <a href="https://www.vittude.com/" target="_blank"><button id="btn1" type="button"
                            class="btn ">Saiba mais</button></a>
                </div>

            </div>
            <!-- Card -->
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://i.imgur.com/oA3quW4.png" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Mackenzie</h4>
                    <!--Text-->
                    <p class="card-text " style="max-height: 200px;">O Serviço-Escola de Psicologia Mackenzie oferece
                        diversas modalidades
                        de
                        atendimento psicológico visando, prevenção e cuidado psicológico junto à comunidade.</p>

                    <a href="https://www.mackenzie.br/atendimento-a-comunidade/servico-escola-de-psicologia-mackenzie/"
                        target="_blank"><button id="btn1" type="button" class="btn ">Saiba mais</button></a>

                </div>

            </div>
            <!-- Card -->
        </div>

    </div>
    <!-- Card deck -->

</div>

<div id="title" class="d-flex justify-content-center align-items-center mt-5">
    <h5 class="section-title h1">Depoimentos</h5>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-4 d-flex justify-content-center">

            <div class="card my-5">

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h5 class="text-center text-muted">Alerta de gatilho:</h5>
                    <h5 class="text-center text-muted mb-5">Tentativa de Suícidio</h5>
                    <h4 class="card-title text-center mb-3">Teste de titulo</h4>
                    <!--Text-->
                    <p class="card-text text-center mb-5" style="min-height: 120px;">Centro de Atenção Psicossocial.
                        Unidades
                        especializadas em saúde mental para
                        tratamento e reinserção social de pessoas com transtorno mental grave e persistente. </p>
                </div>

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button class="btn btn-outline-info mr-3">Alterar</button>
                        <button class="btn btn-outline-secondary ml-3">Excluir</button>
                    </div>
                </div>

            </div>
            <!-- Card -->

        </div>
    </div>

</div>