<div id="" class="d-flex flex-column mt-5 justify-content-center d-flex align-items-center">
    <h2 class="mt-3" >MOMENTUM</h2>
    <div id="qsomos" class="row d-flex justify-content-center d-flex align-items-center">
        <div class="col-xs-12 col-xl-6 d-flex justify-content-center d-flex align-items-center">
           <div id="imagem1">
            <img class="img-fluid" src="https://i.imgur.com/yfZTWEg.png" alt="" height="">
           </div>
        </div>
        <div class="col-xl-6 d-flex justify-content-center d-flex align-items-center">
            <div id="texto1" class="d-flex justify-content-center align-items-center">
                <p class="text-left text-justify">Somos uma rede social com intuito de facilitar sua busca por informações,
                    compartilhamento de depoimentos
                    e/ou locais de acolhimento para depressão e ansiedade. O momentum tem como propósito impactar
                    positivamente sua rotina, entendendo-o e ajudando-o a perceber que a vida é feita de Momentums e que
                    você pode e, é sim, capaz de transformá-los. Conte conosco nessa luta! Nosso suporte oferece
                    informações, endereços de locais de apoio e uma plataforma para compartilhamento de experiências entre
                    os usuários. Seja bem vindo, você é importante para nós! </p>
            </div>
        </div>
    </div>
</div>