<div id="qsomos" class="d-flex ">
    <div  class="container mt-5">
    <div  class="row">
      <div id="primeira" class="col-xs-12 col-md-6 mt-5 d-flex flex-column">
        
          <h2 class="mt-3 font-weight-bold text-left mt-5" >MOMENTUM<span class="color">.</span></h2>

          <div id="texto1" class="d-flex justify-content-center align-items-center  ">
              <p class="text-left text-justify">Somos uma rede social com intuito de facilitar sua busca por informações,
                  compartilhamento de depoimentos
                  e/ou locais de acolhimento para depressão e ansiedade.</p>
          </div>
          <button id="btn1" class="btn btn-outline-success mb-2" routerLink="/entrar">Entre</button>


      </div>
      <div id="segundo" class="col-md-6 d-flex mb-5">
        <div id="imagem1" class="d-flex">
           <img class="img-fluid mt-4" src="https://i.imgur.com/yfZTWEg.png" alt="" height="">
          </div>
      </div>
    </div>
  </div>
</div>


