<div id="" class="d-flex flex-column  justify-content-center d-flex align-items-center">
    <h2 class="mt-3" >MOMENTUM</h2>
    <div id="qsomos" class="row d-flex justify-content-center d-flex align-items-center">
        <div class="col-xs-12 col-xl-6 d-flex justify-content-center d-flex align-items-center">
           <div id="imagem1">
            <img class="img-fluid" src="https://i.imgur.com/yfZTWEg.png" alt="Imagem de pessoas diversificadas sorrindo" height="">
           </div>
        </div>
        <div class="col-xl-6 d-flex justify-content-center d-flex align-items-center">
            <div id="texto1" class="d-flex justify-content-center align-items-center">
                <p class="text-left text-justify">Somos uma rede social com intuito de facilitar sua busca por informações,
                    compartilhamento de depoimentos
                    e/ou locais de acolhimento para depressão e ansiedade. O momentum tem como propósito impactar
                    positivamente sua rotina, entendendo-o e ajudando-o a perceber que a vida é feita de Momentums e que
                    você pode e, é sim, capaz de transformá-los. Conte conosco nessa luta! Nosso suporte oferece
                    informações, endereços de locais de apoio e uma plataforma para compartilhamento de experiências entre
                    os usuários. Seja bem vindo, você é importante para nós! </p>
            </div>
        </div>
    </div>
</div>
<div id="nossotime" class="container pt-5 my-4 z-depth-1">
    <section class="p-md-3 mx-md-9 text-lg-left">
      <h2 class="text-center font-weight-bold mb-4 pb-1">Nosso Time</h2>
      <p class="text-center lead mb-5 pb-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt.</p>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row d-flex align-items-center">
            <div class="col-5 avatar w-100 white d-flex justify-content-center align-items-center">
              <img src="https://i.imgur.com/70uob4C.jpg" class="img-fluid rounded-circle z-depth-1" />
            </div>
            <div class="col-7">
              <h6 class="font-weight-bold pt-2">Alexandre Marcopoulos Henrique</h6>
              <p class="text-muted">
                Software Engineer
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row d-flex align-items-center">
            <div class="col-5 avatar w-100 white d-flex justify-content-center align-items-center">
              <img src="https://i.imgur.com/3ZxQXhl.jpg" class="img-fluid rounded-circle z-depth-1" />
            </div>
            <div class="col-7">
              <h6 class="font-weight-bold pt-2">Denise Pereira dos Santos</h6>
              <p class="text-muted">
                Designer
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row d-flex align-items-center">
            <div class="col-5 avatar w-100 white d-flex justify-content-center align-items-center">
              <img src="https://i.imgur.com/nH2kJUC.jpg" class="img-fluid rounded-circle z-depth-1" />
            </div>
            <div class="col-7">
              <h6 class="font-weight-bold pt-2">Jeferson Amorim Leite</h6>
              <p class="text-muted">
                JavaScript Developer
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row d-flex align-items-center">
            <div class="col-5 avatar w-100 white d-flex justify-content-center align-items-center">
              <img src="https://i.imgur.com/zHetQOn.jpg" class="img-fluid rounded-circle z-depth-1" />
            </div>
            <div class="col-7">
              <h6 class="font-weight-bold pt-2">Kadu Henrique Furtado</h6>
              <p class="text-muted">
                Office Manager
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="row d-flex align-items-center">
            <div class="col-5 avatar w-100 white d-flex justify-content-center align-items-center">
              <img src="https://i.imgur.com/JBA4JXv.jpg" class="img-fluid rounded-circle z-depth-1" />
            </div>
            <div class="col-7">
              <h6 class="font-weight-bold pt-2">Magno de Oliveira Neves</h6>
              <p class="text-muted">
                Software Engineer
              </p>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
