<div id="qsomos" class="d-flex mb-2 ">
  <div class="container mt-5">
    <div class="row">
      <div id="primeira" class="col-xs-12 col-md-6 mt-3 d-flex flex-column mb-5">

        <div id="imagem1" class="">
          <img class="img-fluid" src="https://i.imgur.com/clUStqn.png" alt="" height="">
        </div>

      </div>
      <div id="segundo" class="col-md-6 d-flex mb-5 flex-column justify-content-center  mt-5">
        <h2 class="mt-3 font-weight-bold text-left">MOMENTUM<span class="color">.</span></h2>

        <div id="texto1" class="d-flex justify-content-center align-items-center">
          <p class=" text-justify ">Somos uma rede social com intuito de facilitar sua busca por informações,
            compartilhamento de depoimentos
            e/ou locais de acolhimento para depressão e ansiedade. O momentum tem como propósito impactar
            positivamente sua rotina, entendendo-o e ajudando-o a perceber que a vida é feita de Momentums e que
            você pode e, é sim, capaz de transformá-los. Conte conosco nessa luta! Nosso suporte oferece
            informações, endereços de locais de apoio e uma plataforma para compartilhamento de experiências entre
            os usuários. Seja bem vindo, você é importante para nós!</p>
        </div>
      </div>
    </div>

  </div>

</div>


<div id="title" class="d-flex justify-content-center align-items-center mt-5">
 <h5 class="section-title h1">Nossa Equipe</h5>
</div>

<section id="team" class="pb-5">
  <div class="container">
      
      <div class="row">
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="https://i.imgur.com/2R76K7X.jpg" alt="card image"></p>
                                  <h4 class="card-title">Alexandre Marcopoulos Henrique</h4>
                                  <p class="card-text">Desenvolvedor Java Full Stack.</p>
                                  <ul class="list-inline">
                                    <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-github"></i></a></li>
                                    <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                              </div>
                              
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title"></h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-github"></i></a></li>
                                      <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="https://i.imgur.com/qRp0HkB.png" alt="card image"></p>
                                  <h4 class="card-title">Denise Pereira dos Santos</h4>
                                  <p class="card-text">Desenvolvedor Java Full Stack.</p>
                                  <ul class="list-inline">
                                    <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-github"></i></a></li>
                                    <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title"></h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                  <ul class="list-inline">
                                    <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-github"></i></a></li>
                                    <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="https://i.imgur.com/nH2kJUC.jpg" alt="card image"></p>
                                  <h4 class="card-title">Jeferson Amorim Leite</h4>
                                  <p class="card-text">Desenvolvedor Java Full Stack</p>
                                  <ul class="list-inline">
                                    <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-github"></i></a></li>
                                    <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title"></h4>
                                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                  <ul class="list-inline">
                                    <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-github"></i></a></li>
                                    <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->

          <div id="baixo" class="row d-flex justify-content-center">

            <div id="baixo1" class="col-xs-12 col-md-6 d-flex justify-content-center">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div id="card" class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://i.imgur.com/yreXzps.jpg" alt="card image"></p>
                                    <h4 class="card-title">Kadu Henrique Furtado</h4>
                                    <p class="card-text">Desenvolvedor Java Full Stack</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-github"></i></a></li>
                                      <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title"></h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-github"></i></a></li>
                                      <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>


            <div class="col-md-6 d-flex justify-content-center">
              
              <div class="col-xs-12 col-sm-6 col-md-4 d-flex justify-content-center">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div id="card1" class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://i.imgur.com/JBA4JXv.jpg" alt="card image"></p>
                                    <h4 class="card-title">Magno de Oliveira Neves</h4>
                                    <p class="card-text">Desenvolvedor Java Full Stack</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-github"></i></a></li>
                                      <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title"></h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                      <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-github"></i></a></li>
                                      <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
          </div>

          
          <!-- ./Team member -->
          <!-- Team member -->
          
          <!-- ./Team member -->
          <!-- Team member -->
          <!-- ./Team member -->

      </div>
  </div>
</section>
<!-- Team -->