<div class="container">
    <div class="row mb-5">

        <div class="col-md-4">
            <div class="card border-0 " style="width: 18rem;">
                <div class="d-flex justify-content-center">
                    <img class="card-img-top rounded-circle w-75" src="../../assets/download.jpg"
                        alt="Imagem de capa do card">
                </div>
                <div class="card-body ">
                    <h5 class="card-title text-center mb-5">{{nome}}</h5>

                    <a class="btn btn-info d-flex justify-content-center mb-3" routerLink="/feed">Feed</a>

                    <a class="btn btn-dark d-flex justify-content-center" routerLink="/perfil">Perfil</a>
                </div>
            </div>
        </div>

        <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
            <h3 class="mb-5 text-center">Alteração de postagem</h3>
            <div class="form-group">
                <textarea name="postagem" id="post" cols="50" rows="3" placeholder="Digite sua publicação"
                    [(ngModel)]="postagem.texto"></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-outline-danger mr-3" (click)="voltar()">Voltar</button>
                <button type="button" class="btn btn-outline-success ml-3" (click)="salvar()">Salvar</button>
            </div>
        </div>

    </div>
</div>