@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.navbar {
    font-family: 'Open Sans', sans-serif;
    
}

.nav-item > a{
    color: black;
}

.nav-item > a:hover{
    color: #0e6642;  
    font-size: 1.05em;
}

#linkright >li >a{
    border: 1px #0e6642 solid;
    border-radius: 5px;
}