<nav id="principalnav" class="navbar navbar-expand-md navbar-light bg-white mb-5">

    <div class="container d-flex">

        <a href="#" class="navbar-brand mr-5">
            <img src="https://i.imgur.com/HsEEIUd.png" width="45" height="45" alt="">
        </a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="links" class="collapse navbar-collapse" id="navbarCollapse">
            <div id="navcenter" class="nav navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link mr-3" href="">Inicio</a></li>
                <li class="nav-item"><a class="nav-link mr-3" routerLink="/sobrenos">Sobre Nós</a></li>
                <li class="nav-item"><a class="nav-link mr-3" routerLink="/acolhimento">Acolhimento</a></li>
                <li class="nav-item"><a class="nav-link mr-3" routerLink="/contato">Contato</a></li>
                <div *ngIf="auth.esconder()">
                    <li class="nav-item"><a class="nav-link mr-3" routerLink="/feed">Feed</a></li>
                </div>
                <div *ngIf="auth.esconder()">
                    <li class="nav-item"><a class="nav-link mr-3" routerLink="/perfil">perfil</a></li>
                </div>

            </div>
            <div *ngIf='auth.esconderNav()'>
                <div id="linkright" class="navbar-nav ml-auto">
                    <button id="btn1" class="btn  mb-2 mr-2" routerLink="/formulario">Cadastro</button>
                    <button id="btn1" class="btn  mb-2" routerLink="/entrar">Entrar</button>
                </div>
            </div>
        </div>
    </div>

</nav>