.parallax{
    background-image: linear-gradient(#20b2aa, #40e0d0, #c5c5c5);

    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.fundo {
    background: rgb(255, 255, 255) transparent;
    background: rgba(255, 255, 255, 0.1);
}
