.post{
    margin: 15px;
  
  }
  
  .nome{
    padding:10px;
  }
  
  textarea{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
  }

  .titulo {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
  }

  .caixa-publicacao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    padding: 15px;
    align-items: center;
  }
  
  .publicacao{
    width: 575px;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin: 10px 0 0 10px;
  
  }
  
  .data{
    font-size:12px;
    padding-top: 11px;
    margin-left: 4px;
  }

  .headerPost{
    display: flex;
    align-items: center;
    
  }