<div class="container">

    <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Minhas publicações</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Depoimentos</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false">Alterar Perfil</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <div class="row mt-5 mb-5">
                <div class="col-md-4">
                    <div class="card border-0 " style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <img class="card-img-top rounded-circle w-75 foto-perfil"
                                src="../../assets/img/emojicat.jpeg" alt="Imagem de capa do card">
                        </div>
                        <div class="card-body ">
                            <h5 class="card-title text-center mb-5">{{nome}}</h5>

                            <a class="btn btn-info d-flex justify-content-center mb-3" routerLink="/feed">Feed</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="text-center">Reveja as suas publicações</h2>
                    <div class="container caixa-publicacao">

                        <div class="publicacao mb-3"
                            *ngFor="let postagem of listaPostagem | orderBy : key : reverse | paginate: { itemsPerPage : 10, currentPage : p }">
                            <div class="headerPost">
                                <h6 class="nomePostagem">{{postagem.usuario}} -</h6>
                                <p class="data">{{postagem.data_postagem | date: 'dd/MM/yyyy'}} às
                                    {{postagem.data_postagem | date: 'HH:mm'}} </p>
                            </div>
                            <p>{{postagem.textoPostagem}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

            <div class="row mt-5 mb-5">
                <div class="col-md-4">
                    <div class="card border-0 " style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <img class="card-img-top rounded-circle w-75" src="../../assets/img/emojicat.jpeg"
                                alt="Imagem de capa do card">
                        </div>
                        <div class="card-body ">
                            <h5 class="card-title text-center mb-5">{{nome}}</h5>

                            <a class="btn btn-info d-flex justify-content-center mb-3" routerLink="/feed">Feed</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="text-center mb-5">Compartilhe o seu depoimento com todos</h2>
                    <div class="post">
                        <div class="form-group">
                            <input type="text" class="titulo mb-3"
                                placeholder="Caso haja algum gatilho, por favor informe"
                                [(ngModel)]="depoimento.gatilho">
                            <input type="text" class="titulo mb-3" placeholder="Insira um título para o seu depoimento"
                                [(ngModel)]="depoimento.titulo">
                            <textarea name="postagem" id="post" cols="50" rows="10"
                                placeholder="Sinta-se a vontade para compartilhar algo com a comunidade"
                                [(ngModel)]="depoimento.texto"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-center w-100">
                                    <button type="button" class="btn btn-info"
                                        (click)="compartilhar()">Compartilhar</button>
                                </div>
                                <div *ngIf="aviso">
                                    <div class="alert alert-success text-center mt-3" role="alert">
                                        Depoimento postado com sucesso!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

            <div class="row mt-5 mb-5">
                <div class="col-md-4">
                    <div class="card border-0 " style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <img class="card-img-top rounded-circle w-75" src="../../assets/img/emojicat.jpeg"
                                alt="Imagem de capa do card">
                        </div>
                        <div class="card-body ">
                            <h5 class="card-title text-center mb-5">{{nome}}</h5>

                            <a class="btn btn-info d-flex justify-content-center mb-3" routerLink="/feed">Feed</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <h2 class="text-center">Alterar Perfil</h2>
                    <div>
                        <div class="form-group">
                            <label for="usuario">Usuario*</label>
                            <input type="text" class="form-control" id="usuario" required="" [(ngModel)]="user.usuario">
                        </div>
                        <div class="form-group">
                            <label for="nome">Nome*</label>
                            <input type="text" class="form-control" id="nome" required="" [(ngModel)]="user.nome">
                        </div>
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" id="email" required="" [(ngModel)]="user.email">
                        </div>
                        <div class="form-group">
                            <label for="telefone">Telefone</label>
                            <input type="text" class="form-control" id="telefone" [(ngModel)]="user.telefone">
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha*</label>
                            <input type="password" class="form-control" id="senha" required=""
                                placeholder="Altere sua senha ou inseria a senha atual para validar a alteração!"
                                [(ngModel)]="user.senha">
                        </div>
                        <div class="form-group">
                            <label for="confirmaSenha">Confirmar senha*</label>
                            <input type="password" class="form-control" id="confirmaSenha" required=""
                                placeholder="Confirme sua senha.">
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button type="button" class="btn w-50 btn-primary" (click)="alterar()">Alterar</button>
                        </div>
                        <div *ngIf="avisoAlt">
                            <div class="alert alert-success text-center mt-3" role="alert">
                                Alteração de perfil realizada com sucesso!
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>