<div class="container mb-5 mt-5 body">

    <div class="row mb-5">
        <div class="col-md-12 text-center">
            <h1>Tem alguma dúvida?</h1>
        </div>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Não consegue entrar no seu usuário?
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Verifique se há conexão com a internet;
                    Certifique-se que esse usuario e email estão cadastrados;
                    Cheque se a senha e usuário estão digitados corretamente.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Não consegue fazer uma postagem ou depoimento?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Se você já está logado corretamente e mesmo assim não consegue fazer uma postagem, entre em contato
                    conosco para avaliarmos outras alternativas.
                </div>
            </div>
        </div>
    </div>

</div>